[submodule "vim/vimfiles/pack/kzeslaf/start/plantuml-syntax"]
	path = vim/vimfiles/pack/kzeslaf/start/plantuml-syntax
	url = https://github.com/kzeslaf/plantuml-syntax.git
[submodule "vim/vimfiles/pack/kzeslaf/start/linediff"]
	path = vim/vimfiles/pack/kzeslaf/start/linediff
	url = https://github.com/kzeslaf/linediff.vim.git
	branch = d83f786
