[submodule "vim/vimfiles/pack/kzeslaf/start/plantuml-syntax"]
	path = vim/vimfiles/pack/kzeslaf/start/plantuml-syntax
	url = https://github.com/kzeslaf/plantuml-syntax.git
[submodule "vim/vimfiles/pack/kzeslaf/start/linediff"]
	path = vim/vimfiles/pack/kzeslaf/start/linediff
	url = https://github.com/kzeslaf/linediff.vim.git
[submodule "vim/vimfiles/pack/kzeslaf/start/groovyindent"]
	path = vim/vimfiles/pack/kzeslaf/start/groovyindent
	url = https://github.com/kzeslaf/groovyindent-unix.git
[submodule "vim/vimfiles/pack/kzeslaf/start/nerdcommenter"]
	path = vim/vimfiles/pack/kzeslaf/start/nerdcommenter
	url = https://github.com/kzeslaf/nerdcommenter.git
